language: go
go:
- 1.42
install:
- DST=~/gopath/src/github.com/composer22
- mkdir -p "$DST"
- git clone --depth=1 --quiet https://github.com/composer22/clidemo.git "$DST"/clidemo
- go get code.google.com/p/go.tools/cmd/vet
- go get code.google.com/p/go.tools/cmd/cover
- go get github.com/mattn/goveralls
script:
- go build
- ./travis/gofmt.sh
- ./travis/govet.sh
- go test -i -race ./...
- go test -v -race ./...
- ./travis/coveralls-script.sh
#env:
#  global:
#    secure: <Encrypted key> Use the following:
#
# gem install travis
# cd my_project
# travis encrypt MY_SECRET_ENV=super_secret
#
